# Pre-processing and training data development

Capstone 2 problem: What is the evolution of the impact of catastrophic events on the commercial aerial traffic in Canada, between 2001 and 2018?

In [68]:
# Importing pertinent packages
import pandas as pd
from sklearn.model_selection import train_test_split

In [69]:
# Importing the dataset
df = pd.read_csv('merged_df.csv', sep=",")

In [70]:
# Visualizing the dataset
df.head()

,date,prov_ter,VALUE,year,month,Avalanche,Drought,Earthquake,Flood,Heat Event,Hurricane / Typhoon / Tropical Storm,Landslide,Storm - Unspecified / Other,Storm Surge,Storms and Severe Thunderstorms,Tornado,Wildfire,Winter Storm,sum_events
0,2001-02-01,AB,49568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2001-02-01,BC,89058,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2001-02-01,MB,19869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2001-02-01,NB,4966,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2001-02-01,NFL,7964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
# Visualization of the dataset shape
df.shape

(2365, 19)

In [72]:
# Determining datatypes in the dataset
df.dtypes

date                                     object
prov_ter                                 object
VALUE                                     int64
year                                    float64
month                                   float64
Avalanche                               float64
Drought                                 float64
Earthquake                              float64
Flood                                   float64
Heat Event                              float64
Hurricane / Typhoon / Tropical Storm    float64
Landslide                               float64
Storm - Unspecified / Other             float64
Storm Surge                             float64
Storms and Severe Thunderstorms         float64
Tornado                                 float64
Wildfire                                float64
Winter Storm                            float64
sum_events                              float64
dtype: object

In [73]:
df['date'] =  pd.to_datetime(df['date'], format='%Y-%d-%m')
df.dtypes

date                                    datetime64[ns]
prov_ter                                        object
VALUE                                            int64
year                                           float64
month                                          float64
Avalanche                                      float64
Drought                                        float64
Earthquake                                     float64
Flood                                          float64
Heat Event                                     float64
Hurricane / Typhoon / Tropical Storm           float64
Landslide                                      float64
Storm - Unspecified / Other                    float64
Storm Surge                                    float64
Storms and Severe Thunderstorms                float64
Tornado                                        float64
Wildfire                                       float64
Winter Storm                                   float64
sum_events                                     float64
dtype: object

Only prov_ter is a categorical value.

In [74]:
# Getting dummy variables for the categorical values
prov_ter_dummy = pd.get_dummies(df['prov_ter'])

In [75]:
# Concatening the dummy variables with the original dataset.
df = pd.concat([df, prov_ter_dummy], axis=1)

In [76]:
# Converting date in year and month (floats)
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

df = df.drop('date', axis = 1)

df['year'] = df['year'].astype(float)
df['month'] = df['month'].astype(float)

In [77]:
#Converting provinces and territories to float values
df.loc[df['prov_ter'].str.contains('BC', na=False), 'prov_ter'] = 1.0
df.loc[df['prov_ter'].str.contains('AB', na=False), 'prov_ter'] = 2.0
df.loc[df['prov_ter'].str.contains('SK', na=False), 'prov_ter'] = 3.0
df.loc[df['prov_ter'].str.contains('MB', na=False), 'prov_ter'] = 4.0
df.loc[df['prov_ter'].str.contains('ON', na=False), 'prov_ter'] = 5.0
df.loc[df['prov_ter'].str.contains('QC', na=False), 'prov_ter'] = 6.0
df.loc[df['prov_ter'].str.contains('NB', na=False), 'prov_ter'] = 7.0
df.loc[df['prov_ter'].str.contains('NS', na=False), 'prov_ter'] = 8.0
df.loc[df['prov_ter'].str.contains('NFL', na=False), 'prov_ter'] = 9.0
df.loc[df['prov_ter'].str.contains('YU', na=False), 'prov_ter'] = 10.0
df.loc[df['prov_ter'].str.contains('NWT', na=False), 'prov_ter'] = 11.0

In [78]:
df['prov_ter'] = df['prov_ter'].astype(float)

In [85]:
df['VALUE'] = df['VALUE'].astype(float)

In [86]:
# Visualizing the new version of the dataset
df.head()

,prov_ter,VALUE,year,month,Avalanche,Drought,Earthquake,Flood,Heat Event,Hurricane / Typhoon / Tropical Storm,...,BC,MB,NB,NFL,NS,NWT,ON,QC,SK,YU
0,2.0,49568.0,2001.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,89058.0,2001.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
2,4.0,19869.0,2001.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
3,7.0,4966.0,2001.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,0,0,0,0
4,9.0,7964.0,2001.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,0

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2365 entries, 0 to 2364
Data columns (total 29 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   prov_ter                              2365 non-null   float64
 1   VALUE                                 2365 non-null   float64
 2   year                                  2365 non-null   float64
 3   month                                 2365 non-null   float64
 4   Avalanche                             2365 non-null   float64
 5   Drought                               2365 non-null   float64
 6   Earthquake                            2365 non-null   float64
 7   Flood                                 2365 non-null   float64
 8   Heat Event                            2365 non-null   float64
 9   Hurricane / Typhoon / Tropical Storm  2365 non-null   float64
 10  Landslide                             2365 non-null   float64
 11  Storm - Unspecified / Other           2365 non-null   float64
 12  Storm Surge                           2365 non-null   float64
 13  Storms and Severe Thunderstorms       2365 non-null   float64
 14  Tornado                               2365 non-null   float64
 15  Wildfire                              2365 non-null   float64
 16  Winter Storm                          2365 non-null   float64
 17  sum_events                            2365 non-null   float64
 18  AB                                    2365 non-null   uint8
 19  BC                                    2365 non-null   uint8
 20  MB                                    2365 non-null   uint8
 21  NB                                    2365 non-null   uint8
 22  NFL                                   2365 non-null   uint8
 23  NS                                    2365 non-null   uint8
 24  NWT                                   2365 non-null   uint8
 25  ON                                    2365 non-null   uint8
 26  QC                                    2365 non-null   uint8
 27  SK                                    2365 non-null   uint8
 28  YU                                    2365 non-null   uint8
dtypes: float64(18), uint8(11)
memory usage: 358.1 KB

There is no need to standardize the aerial trafic value since there is only one numeric type of data in the data set.

In [88]:
# Spliting data into training and testing set
X = df.drop('VALUE', axis = 1)
y = df.VALUE

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [89]:
# Saving data
df.to_csv('df.csv', index=False)