# Pre-processning and training data development

Capstone 2 problem: What is the evolution of the impact of catastrophic events on the commercial aerial traffic in Canada, between 2001 and 2018?

In [25]:
# Importing pertinent packages
import pandas as pd
from sklearn.model_selection import train_test_split

In [26]:
# Importing the dataset
df = pd.read_csv('merged_df.csv', sep=",")

In [27]:
# Visualizing the dataset
df.head()

                        EVENT_TYPE  VALUE        date prov_ter
0  Storms and Severe Thunderstorms  49568  2018-12-01       BC
1                          Tornado  89058  2018-09-01       ON
2                         Wildfire  19869  2018-08-01       BC
3                            Flood   4966  2018-08-01       ON
4  Storms and Severe Thunderstorms   7964  2018-08-01       AB

In [28]:
# Visualization of the dataset shape
df.shape

(2365, 4)

In [29]:
# Determining datatypes in the dataset
df.dtypes

EVENT_TYPE    object
VALUE          int64
date          object
prov_ter      object
dtype: object

EVENT_TYPE and prov_ter are categorical values.

In [30]:
# Getting dummy variables for the categorical values
event_type_dummy = pd.get_dummies(df['EVENT_TYPE'])
prov_ter_dummy = pd.get_dummies(df['prov_ter'])

In [31]:
# Concatening the dummy variables with the original dataset.
df = pd.concat([df, event_type_dummy, prov_ter_dummy], axis=1)

In [32]:
# Visualizing the new version of the dataset
df.head()

,EVENT_TYPE,VALUE,date,prov_ter,Avalanche,Drought,Earthquake,Flood,Heat Event,Hurricane / Typhoon / Tropical Storm,...,MB,NB,NFL,NS,NWT,ON,QC,SK,YK,YU
0,Storms and Severe Thunderstorms,49568,2018-12-01,BC,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Tornado,89058,2018-09-01,ON,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,Wildfire,19869,2018-08-01,BC,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Flood,4966,2018-08-01,ON,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,Storms and Severe Thunderstorms,7964,2018-08-01,AB,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

There is no need to standardize the aerial trafic value since there is only one numeric type of data in the data set.

In [34]:
# Spliting data into training and testing set
X = df.drop('VALUE', axis = 1)
y = df.VALUE

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)